.login-popup {
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  display: none;
  z-index: 20; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
.login-form {
  width: 750px;
  height: 450px;
  position: relative;
  border-radius: 0.5rem; /* Black w/ opacity */
  background-image: url("https://i.ibb.co/h7TnL2S/login.jpg");
  background-size: contain;
  margin: auto;
  margin-top: calc((100vh - 450px) / 2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.show_popup {
  animation-name: animatetop;
  animation-duration: 0.8s;
}
.hide_popup {
  animation-name: animatehide;
  animation-duration: 0.8s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -95vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -95vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatehide {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: -95vh;
    opacity: 1;
  }
}
.filter {
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 53, 0.6);
  border-radius: 0.5rem;
  display: flex;
}
.icon {
  .image {
    width: 5rem;
    height: 5rem;
    padding-top: 0.5rem;
    display: block;
    margin: auto;
    background: whitesmoke;
    clip-path: polygon(
      92.32051% 40%,
      93.79385% 43.1596%,
      94.69616% 46.52704%,
      95% 50%,
      94.69616% 53.47296%,
      93.79385% 56.8404%,
      92.32051% 60%,
      79.82051% 81.65064%,
      77.82089% 84.50639%,
      75.35575% 86.97152%,
      72.5% 88.97114%,
      69.3404% 90.44449%,
      65.97296% 91.34679%,
      62.5% 91.65064%,
      37.5% 91.65064%,
      34.02704% 91.34679%,
      30.6596% 90.44449%,
      27.5% 88.97114%,
      24.64425% 86.97152%,
      22.17911% 84.50639%,
      20.17949% 81.65064%,
      7.67949% 60%,
      6.20615% 56.8404%,
      5.30384% 53.47296%,
      5% 50%,
      5.30384% 46.52704%,
      6.20615% 43.1596%,
      7.67949% 40%,
      20.17949% 18.34936%,
      22.17911% 15.49361%,
      24.64425% 13.02848%,
      27.5% 11.02886%,
      30.6596% 9.55551%,
      34.02704% 8.65321%,
      37.5% 8.34936%,
      62.5% 8.34936%,
      65.97296% 8.65321%,
      69.3404% 9.55551%,
      72.5% 11.02886%,
      75.35575% 13.02848%,
      77.82089% 15.49361%,
      79.82051% 18.34936%
    );
    img {
      width: 4rem;
      height: 4rem;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  h1 {
    text-align: center;
    margin-top: 0.75rem;
    color: white;
    font-size: 1.25rem;
  }
  h2 {
    margin-top: 2rem;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
}
.login-input {
  font-size: 1em;
  position: relative;
  width: 450px;
  height: 100%;
  z-index: 2;
  border-radius: 0.5rem;
  margin-left: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    outline: none;
    background: whitesmoke;
    border-radius: 10rem;
    color: rgb(170, 170, 170);
  }
  button:hover {
    background-color: rgb(243, 192, 162);
    color: white;
  }
  .header {
    text-align: center;
  }
  .wrong-input {
    border-bottom: rgb(231, 128, 128) solid 2px !important;
  }
  .wrong-icon {
    color: rgb(231, 128, 128) !important;
  }
  .input-container {
    margin-top: 1em;
  }
  .input-container > input {
    width: 100%;
    height: 3.5em;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: rgb(124, 124, 124) solid 1px;
  }
  #signupSubmit,
  #loginSubmit {
    height: 3em;
    border-radius: 0.5em;
    width: 100%;
    margin-top: 1em;
    font-size: 1em;
    background: #0f7c90;
    color: white;
  }
  .login {
    display: none;
  }
  .signup {
    display: none;
  }
}
