<div class="nav">
  <div class="row">
    <a href="/" class="logo">
      <img src="https://i.ibb.co/FgXvct5/logo1.png" alt="" />
    </a>
    <a href="/khoa-hoc" class="nav_item">
      Danh sách khóa học
    </a>
    <div class="search_bar">
      <button>
        <i class="fas fa-search"></i>
      </button>
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Tìm kiếm khóa học"
      />
    </div>
  </div>
  <div class="row">
    <p id="coinDisplay"></p>
    <button id="signupBtn" class="nav_btn">Đăng ký</button>
    <button style="display: none;" id="coinBtn" class="nav_btn">Nạp tài khoản</button>
    <button style="display: none;" id="signoutBtn" class="nav_btn">Đăng xuất</button>
    <button id="loginBtn" class="nav_btn">Đăng nhập</button>
  </div>
</div>